/*insert custom css below*/


body {
}

.heading {
}

.heading h1 {
   
}

.box {
  position: relative;
  float: left;
}

.box:last-child {
   position: relative;
  float: left;
}

.box h2 {
   position: relative;
  float: middle;
  
}

.box img {
   position: relative;
  float: left;
}

.box a.read-more {
     position: relative;
  float: left;
}

.box {
  position: relative;
  float: right;
}

.box:last-child {
   position: relative;
  float: right;
}

.box h2 {
   position: relative;
  float: right;
  
}

.box img {
   position: relative;
  float: right;
}

.box a.read-more {
     position: relative;
  float: right;
}

.footer {
}
