/*insert custom css below*/


body {
   padding-top: 80px;
}

.heading {
   position: fixed;
   top:0;
   left:0;
   width: 100%;
   padding:0 20px;
   border-botton:2px solid #222;
   
}

.heading h1 {
   
}

.box {
  position: relative;
  float: left;
}

.box:last-child {
   position: relative;
  float: left;
}


.footer {
    position: fixed;
   top:0;
   left:0;
   width: 100%;
   padding:0 20px;
   border-botton:2px solid #eee;
   
   
}
