/*insert custom css below*/


body {
}

.heading {
}

.heading h1 {
}

.box {
}

.box:last-child {
}

.box h2 {
}

.box img {
}

.box a.read-more {
}

.footer {
}

CSS is here
#box{
border: 0px solid #000;
width: 700px;
margin: 0 auto;
}
#left{
width: 100px;
height: 40px;
float: left;
border: 1px solid #000;
}
#right{
width:100px;
height: 40px;
float: right;
border: 1px solid #000;
}
#middle{
width: 500px;
height: 40px;
margin: 0 auto;
border: 1px solid #000;
}

